<div class="steel">
  <div class="steel-title">
    <div class="steel-title_numbers">02</div>
    <div class="steel-title_title">
      <span class="color_primary">NOŻE I OSPRZĘT</span> DO METALU
    </div>
  </div>

  <swiper [config]="steelSwiperConfigSmall" class="steelSwiperSmall1">
    <ng-template swiperSlide
      ><div class="steel-buttons-helper">
        <div class="card-buttons_left"></div>

        <div class="steel-card">
          <div class="steel-card-img_helper">
            <img
              class="steel-card_img"
              src="../../assets/steelKnifes/1.png"
              alt="steelKnife1"
            />
          </div>

          <div class="steel-card-description">
            <p class="steel-card-description_p">
              {{ steelCaptions[0] }}
            </p>
            <button class="steel-card-description_button">
              PRZEJDŹ DO SKLEPU
            </button>
          </div>
        </div>

        <div class="card-buttons_right"></div>
      </div>
    </ng-template>

    <ng-template swiperSlide
      ><div class="steel-buttons-helper">
        <div class="card-buttons_left"></div>

        <div class="steel-card">
          <div class="steel-card-img_helper">
            <img
              class="steel-card_img"
              src="../../assets/steelKnifes/2.png"
              alt="steelKnife2"
            />
          </div>

          <div class="steel-card-description">
            <p class="steel-card-description_p">
              {{ steelCaptions[1] }}
            </p>
            <button class="steel-card-description_button">
              PRZEJDŹ DO SKLEPU
            </button>
          </div>
        </div>

        <div class="card-buttons_right"></div>
      </div>
    </ng-template>

    <ng-template swiperSlide
      ><div class="steel-buttons-helper">
        <div class="card-buttons_left"></div>

        <div class="steel-card">
          <div class="steel-card-img_helper">
            <img
              class="steel-card_img"
              src="../../assets/steelKnifes/3.png"
              alt="steelKnife3"
            />
          </div>

          <div class="steel-card-description">
            <p class="steel-card-description_p">
              {{ steelCaptions[2] }}
            </p>
            <button class="steel-card-description_button">
              PRZEJDŹ DO SKLEPU
            </button>
          </div>
        </div>

        <div class="card-buttons_right"></div>
      </div>
    </ng-template>

    <ng-template swiperSlide
      ><div class="steel-buttons-helper">
        <div class="card-buttons_left"></div>

        <div class="steel-card">
          <div class="steel-card-img_helper">
            <img
              class="steel-card_img"
              src="../../assets/steelKnifes/4.png"
              alt="steelKnife4"
            />
          </div>

          <div class="steel-card-description">
            <p class="steel-card-description_p">
              {{ steelCaptions[3] }}
            </p>
            <button class="steel-card-description_button">
              PRZEJDŹ DO SKLEPU
            </button>
          </div>
        </div>

        <div class="card-buttons_right"></div>
      </div>
    </ng-template>
  </swiper>

  <swiper [config]="steelSwiperConfigSmall" class="steelSwiperSmall2">
    <ng-template swiperSlide
      ><div class="steel-buttons-helper">
        <div class="card-buttons_left"></div>

        <div class="steel-card">
          <div class="steel-card-img_helper">
            <img
              class="steel-card_img"
              src="../../assets/steelKnifes/5.png"
              alt="steelKnife5"
            />
          </div>

          <div class="steel-card-description">
            <p class="steel-card-description_p">
              {{ steelCaptions[4] }}
            </p>
            <button class="steel-card-description_button">
              PRZEJDŹ DO SKLEPU
            </button>
          </div>
        </div>

        <div class="card-buttons_right"></div>
      </div>
    </ng-template>

    <ng-template swiperSlide
      ><div class="steel-buttons-helper">
        <div class="card-buttons_left"></div>

        <div class="steel-card">
          <div class="steel-card-img_helper">
            <img
              class="steel-card_img"
              src="../../assets/steelKnifes/6.png"
              alt="steelKnife6"
            />
          </div>

          <div class="steel-card-description">
            <p class="steel-card-description_p">
              {{ steelCaptions[5] }}
            </p>
            <button class="steel-card-description_button">
              PRZEJDŹ DO SKLEPU
            </button>
          </div>
        </div>

        <div class="card-buttons_right"></div>
      </div>
    </ng-template>

    <ng-template swiperSlide
      ><div class="steel-buttons-helper">
        <div class="card-buttons_left"></div>

        <div class="steel-card">
          <div class="steel-card-img_helper">
            <img
              class="steel-card_img"
              src="../../assets/steelKnifes/7.png"
              alt="steelKnife7"
            />
          </div>

          <div class="steel-card-description">
            <p class="steel-card-description_p">
              {{ steelCaptions[6] }}
            </p>
            <button class="steel-card-description_button">
              PRZEJDŹ DO SKLEPU
            </button>
          </div>
        </div>

        <div class="card-buttons_right"></div>
      </div>
    </ng-template>

    <ng-template swiperSlide
      ><div class="steel-buttons-helper">
        <div class="card-buttons_left"></div>

        <div class="steel-card">
          <div class="steel-card-img_helper">
            <img
              class="steel-card_img"
              src="../../assets/steelKnifes/8.png"
              alt="steelKnife8"
            />
          </div>

          <div class="steel-card-description">
            <p class="steel-card-description_p">
              {{ steelCaptions[7] }}
            </p>
            <button class="steel-card-description_button">
              PRZEJDŹ DO SKLEPU
            </button>
          </div>
        </div>

        <div class="card-buttons_right"></div>
      </div>
    </ng-template>
  </swiper>

  <swiper [config]="steelSwiperConfigMedium" class="steelSwiperMedium">
    <ng-template swiperSlide>
      <div class="steel-card">
        <div class="steel-card-img_helper">
          <img
            class="steel-card_img"
            src="../../assets/steelKnifes/1.png"
            alt="steelKnife1"
          />
        </div>

        <div class="steel-card-description">
          <p class="steel-card-description_p">
            {{ steelCaptions[0] }}
          </p>
          <button class="steel-card-description_button">
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="steel-card">
        <div class="steel-card-img_helper">
          <img
            class="steel-card_img"
            src="../../assets/steelKnifes/2.png"
            alt="steelKnife2"
          />
        </div>

        <div class="steel-card-description">
          <p class="steel-card-description_p">
            {{ steelCaptions[1] }}
          </p>
          <button class="steel-card-description_button">
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="steel-card">
        <div class="steel-card-img_helper">
          <img
            class="steel-card_img"
            src="../../assets/steelKnifes/3.png"
            alt="steelKnife3"
          />
        </div>

        <div class="steel-card-description">
          <p class="steel-card-description_p">
            {{ steelCaptions[2] }}
          </p>
          <button class="steel-card-description_button">
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="steel-card">
        <div class="steel-card-img_helper">
          <img
            class="steel-card_img"
            src="../../assets/steelKnifes/4.png"
            alt="steelKnife4"
          />
        </div>

        <div class="steel-card-description">
          <p class="steel-card-description_p">
            {{ steelCaptions[3] }}
          </p>
          <button class="steel-card-description_button">
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="steel-card">
        <div class="steel-card-img_helper">
          <img
            class="steel-card_img"
            src="../../assets/steelKnifes/5.png"
            alt="steelKnife5"
          />
        </div>

        <div class="steel-card-description">
          <p class="steel-card-description_p">
            {{ steelCaptions[4] }}
          </p>
          <button class="steel-card-description_button">
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="steel-card">
        <div class="steel-card-img_helper">
          <img
            class="steel-card_img"
            src="../../assets/steelKnifes/6.png"
            alt="steelKnife6"
          />
        </div>

        <div class="steel-card-description">
          <p class="steel-card-description_p">
            {{ steelCaptions[5] }}
          </p>
          <button class="steel-card-description_button">
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="steel-card">
        <div class="steel-card-img_helper">
          <img
            class="steel-card_img"
            src="../../assets/steelKnifes/7.png"
            alt="steelKnife7"
          />
        </div>

        <div class="steel-card-description">
          <p class="steel-card-description_p">
            {{ steelCaptions[6] }}
          </p>
          <button class="steel-card-description_button">
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="steel-card">
        <div class="steel-card-img_helper">
          <img
            class="steel-card_img"
            src="../../assets/steelKnifes/8.png"
            alt="steelKnife8"
          />
        </div>

        <div class="steel-card-description">
          <p class="steel-card-description_p">
            {{ steelCaptions[7] }}
          </p>
          <button class="steel-card-description_button">
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>
    </ng-template>
  </swiper>

  <swiper [config]="steelSwiperConfigLarge" class="steelSwiperLarge">
    <ng-template swiperSlide>
      <div class="steel-card">
        <div class="steel-card-img_helper">
          <img
            class="steel-card_img"
            src="../../assets/steelKnifes/1.png"
            alt="steelKnife1"
          />
        </div>

        <div class="steel-card-description">
          <p class="steel-card-description_p">
            {{ steelCaptions[0] }}
          </p>
          <button class="steel-card-description_button">
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="steel-card">
        <div class="steel-card-img_helper">
          <img
            class="steel-card_img"
            src="../../assets/steelKnifes/2.png"
            alt="steelKnife2"
          />
        </div>

        <div class="steel-card-description">
          <p class="steel-card-description_p">
            {{ steelCaptions[1] }}
          </p>
          <button class="steel-card-description_button">
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="steel-card">
        <div class="steel-card-img_helper">
          <img
            class="steel-card_img"
            src="../../assets/steelKnifes/3.png"
            alt="steelKnife3"
          />
        </div>

        <div class="steel-card-description">
          <p class="steel-card-description_p">
            {{ steelCaptions[2] }}
          </p>
          <button class="steel-card-description_button">
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="steel-card">
        <div class="steel-card-img_helper">
          <img
            class="steel-card_img"
            src="../../assets/steelKnifes/4.png"
            alt="steelKnife4"
          />
        </div>

        <div class="steel-card-description">
          <p class="steel-card-description_p">
            {{ steelCaptions[3] }}
          </p>
          <button class="steel-card-description_button">
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="steel-card">
        <div class="steel-card-img_helper">
          <img
            class="steel-card_img"
            src="../../assets/steelKnifes/5.png"
            alt="steelKnife5"
          />
        </div>

        <div class="steel-card-description">
          <p class="steel-card-description_p">
            {{ steelCaptions[4] }}
          </p>
          <button class="steel-card-description_button">
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="steel-card">
        <div class="steel-card-img_helper">
          <img
            class="steel-card_img"
            src="../../assets/steelKnifes/6.png"
            alt="steelKnife6"
          />
        </div>

        <div class="steel-card-description">
          <p class="steel-card-description_p">
            {{ steelCaptions[5] }}
          </p>
          <button class="steel-card-description_button">
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="steel-card">
        <div class="steel-card-img_helper">
          <img
            class="steel-card_img"
            src="../../assets/steelKnifes/7.png"
            alt="steelKnife7"
          />
        </div>

        <div class="steel-card-description">
          <p class="steel-card-description_p">
            {{ steelCaptions[6] }}
          </p>
          <button class="steel-card-description_button">
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="steel-card">
        <div class="steel-card-img_helper">
          <img
            class="steel-card_img"
            src="../../assets/steelKnifes/8.png"
            alt="steelKnife8"
          />
        </div>

        <div class="steel-card-description">
          <p class="steel-card-description_p">
            {{ steelCaptions[7] }}
          </p>
          <button class="steel-card-description_button">
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>
    </ng-template>
  </swiper>

  <p class="steel-description">
    <b>Produkujemy m.in. do maszyn:</b> VTN, Genesis, Travi Benne, Zato, Metso
    Lindemann, Louritex, Bonfignoli, Henschel, Kajman, Mistra, Bronnenberg,
    Lefort, Taurus, Sierra, Danielli, Panizzolo, Zdaś, NTA, CNTA, NG.
  </p>
</div>
