<div class="recycle">
  <div class="recycle-title">
    <div class="recycle-title_numbers">03</div>
    <div class="recycle-title_title">
      <span class="color_primary">NOŻE I OSPRZĘT</span> DO RECYKLINGU
    </div>
  </div>

  <swiper [config]="recycleSwiperConfigSmall" class="recycleSwiperSmall1">
    <ng-template swiperSlide
      ><div class="recycle-buttons-helper">
        <div class="card-buttons_left"></div>

        <div class="recycle-card">
          <div class="recycle-card-img_helper">
            <img
              class="recycle-card_img"
              src="../../assets/recycleKnifes/1.png"
              alt="recycleKnife1"
            />
          </div>

          <div class="recycle-card-description">
            <p class="recycle-card-description_p">
              {{ recycleCaptions[0] }}
            </p>
            <button
              (click)="recycleLink()"
              class="recycle-card-description_button"
            >
              PRZEJDŹ DO SKLEPU
            </button>
          </div>
        </div>

        <div class="card-buttons_right"></div>
      </div>
    </ng-template>

    <ng-template swiperSlide
      ><div class="recycle-buttons-helper">
        <div class="card-buttons_left"></div>

        <div class="recycle-card">
          <div class="recycle-card-img_helper">
            <img
              class="recycle-card_img"
              src="../../assets/recycleKnifes/2.png"
              alt="recycleKnife2"
            />
          </div>

          <div class="recycle-card-description">
            <p class="recycle-card-description_p">
              {{ recycleCaptions[1] }}
            </p>
            <button
              (click)="recycleLink()"
              class="recycle-card-description_button"
            >
              PRZEJDŹ DO SKLEPU
            </button>
          </div>
        </div>

        <div class="card-buttons_right"></div>
      </div>
    </ng-template>

    <ng-template swiperSlide
      ><div class="recycle-buttons-helper">
        <div class="card-buttons_left"></div>

        <div class="recycle-card">
          <div class="recycle-card-img_helper">
            <img
              class="recycle-card_img"
              src="../../assets/recycleKnifes/3.png"
              alt="recycleKnife3"
            />
          </div>

          <div class="recycle-card-description">
            <p class="recycle-card-description_p">
              {{ recycleCaptions[2] }}
            </p>
            <button
              (click)="recycleLink()"
              class="recycle-card-description_button"
            >
              PRZEJDŹ DO SKLEPU
            </button>
          </div>
        </div>

        <div class="card-buttons_right"></div>
      </div>
    </ng-template>

    <ng-template swiperSlide
      ><div class="recycle-buttons-helper">
        <div class="card-buttons_left"></div>

        <div class="recycle-card">
          <div class="recycle-card-img_helper">
            <img
              class="recycle-card_img"
              src="../../assets/recycleKnifes/4.png"
              alt="recycleKnife4"
            />
          </div>

          <div class="recycle-card-description">
            <p class="recycle-card-description_p">
              {{ recycleCaptions[3] }}
            </p>
            <button
              (click)="recycleLink()"
              class="recycle-card-description_button"
            >
              PRZEJDŹ DO SKLEPU
            </button>
          </div>
        </div>

        <div class="card-buttons_right"></div>
      </div>
    </ng-template>
  </swiper>

  <swiper [config]="recycleSwiperConfigSmall" class="recycleSwiperSmall2">
    <ng-template swiperSlide
      ><div class="recycle-buttons-helper">
        <div class="card-buttons_left"></div>

        <div class="recycle-card">
          <div class="recycle-card-img_helper">
            <img
              class="recycle-card_img"
              src="../../assets/recycleKnifes/5.png"
              alt="recycleKnife5"
            />
          </div>

          <div class="recycle-card-description">
            <p class="recycle-card-description_p">
              {{ recycleCaptions[4] }}
            </p>
            <button
              (click)="recycleLink()"
              class="recycle-card-description_button"
            >
              PRZEJDŹ DO SKLEPU
            </button>
          </div>
        </div>

        <div class="card-buttons_right"></div>
      </div>
    </ng-template>

    <ng-template swiperSlide
      ><div class="recycle-buttons-helper">
        <div class="card-buttons_left"></div>

        <div class="recycle-card">
          <div class="recycle-card-img_helper">
            <img
              class="recycle-card_img"
              src="../../assets/recycleKnifes/6.png"
              alt="recycleKnife6"
            />
          </div>

          <div class="recycle-card-description">
            <p class="recycle-card-description_p">
              {{ recycleCaptions[5] }}
            </p>
            <button
              (click)="recycleLink()"
              class="recycle-card-description_button"
            >
              PRZEJDŹ DO SKLEPU
            </button>
          </div>
        </div>

        <div class="card-buttons_right"></div>
      </div>
    </ng-template>

    <ng-template swiperSlide
      ><div class="recycle-buttons-helper">
        <div class="card-buttons_left"></div>

        <div class="recycle-card">
          <div class="recycle-card-img_helper">
            <img
              class="recycle-card_img"
              src="../../assets/recycleKnifes/7.png"
              alt="recycleKnife7"
            />
          </div>

          <div class="recycle-card-description">
            <p class="recycle-card-description_p">
              {{ recycleCaptions[6] }}
            </p>
            <button
              (click)="recycleLink()"
              class="recycle-card-description_button"
            >
              PRZEJDŹ DO SKLEPU
            </button>
          </div>
        </div>

        <div class="card-buttons_right"></div>
      </div>
    </ng-template>

    <ng-template swiperSlide
      ><div class="recycle-buttons-helper">
        <div class="card-buttons_left"></div>

        <div class="recycle-card">
          <div class="recycle-card-img_helper">
            <img
              class="recycle-card_img"
              src="../../assets/recycleKnifes/8.png"
              alt="recycleKnife8"
            />
          </div>

          <div class="recycle-card-description">
            <p class="recycle-card-description_p">
              {{ recycleCaptions[7] }}
            </p>
            <button
              (click)="recycleLink()"
              class="recycle-card-description_button"
            >
              PRZEJDŹ DO SKLEPU
            </button>
          </div>
        </div>

        <div class="card-buttons_right"></div>
      </div>
    </ng-template>
  </swiper>

  <swiper [config]="recycleSwiperConfigMedium" class="recycleSwiperMedium">
    <ng-template swiperSlide>
      <div class="recycle-card">
        <div class="recycle-card-img_helper">
          <img
            class="recycle-card_img"
            src="../../assets/recycleKnifes/1.png"
            alt="recycleKnife1"
          />
        </div>

        <div class="recycle-card-description">
          <p class="recycle-card-description_p">
            {{ recycleCaptions[0] }}
          </p>
          <button
            (click)="recycleLink()"
            class="recycle-card-description_button"
          >
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="recycle-card">
        <div class="recycle-card-img_helper">
          <img
            class="recycle-card_img"
            src="../../assets/recycleKnifes/2.png"
            alt="recycleKnife2"
          />
        </div>

        <div class="recycle-card-description">
          <p class="recycle-card-description_p">
            {{ recycleCaptions[1] }}
          </p>
          <button
            (click)="recycleLink()"
            class="recycle-card-description_button"
          >
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="recycle-card">
        <div class="recycle-card-img_helper">
          <img
            class="recycle-card_img"
            src="../../assets/recycleKnifes/3.png"
            alt="recycleKnife3"
          />
        </div>

        <div class="recycle-card-description">
          <p class="recycle-card-description_p">
            {{ recycleCaptions[2] }}
          </p>
          <button
            (click)="recycleLink()"
            class="recycle-card-description_button"
          >
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="recycle-card">
        <div class="recycle-card-img_helper">
          <img
            class="recycle-card_img"
            src="../../assets/recycleKnifes/4.png"
            alt="recycleKnife4"
          />
        </div>

        <div class="recycle-card-description">
          <p class="recycle-card-description_p">
            {{ recycleCaptions[3] }}
          </p>
          <button
            (click)="recycleLink()"
            class="recycle-card-description_button"
          >
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="recycle-card">
        <div class="recycle-card-img_helper">
          <img
            class="recycle-card_img"
            src="../../assets/recycleKnifes/5.png"
            alt="recycleKnife5"
          />
        </div>

        <div class="recycle-card-description">
          <p class="recycle-card-description_p">
            {{ recycleCaptions[4] }}
          </p>
          <button
            (click)="recycleLink()"
            class="recycle-card-description_button"
          >
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="recycle-card">
        <div class="recycle-card-img_helper">
          <img
            class="recycle-card_img"
            src="../../assets/recycleKnifes/6.png"
            alt="recycleKnife6"
          />
        </div>

        <div class="recycle-card-description">
          <p class="recycle-card-description_p">
            {{ recycleCaptions[5] }}
          </p>
          <button
            (click)="recycleLink()"
            class="recycle-card-description_button"
          >
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="recycle-card">
        <div class="recycle-card-img_helper">
          <img
            class="recycle-card_img"
            src="../../assets/recycleKnifes/7.png"
            alt="recycleKnife7"
          />
        </div>

        <div class="recycle-card-description">
          <p class="recycle-card-description_p">
            {{ recycleCaptions[6] }}
          </p>
          <button
            (click)="recycleLink()"
            class="recycle-card-description_button"
          >
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="recycle-card">
        <div class="recycle-card-img_helper">
          <img
            class="recycle-card_img"
            src="../../assets/recycleKnifes/8.png"
            alt="recycleKnife8"
          />
        </div>

        <div class="recycle-card-description">
          <p class="recycle-card-description_p">
            {{ recycleCaptions[7] }}
          </p>
          <button
            (click)="recycleLink()"
            class="recycle-card-description_button"
          >
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>
    </ng-template>
  </swiper>

  <swiper [config]="recycleSwiperConfigLarge" class="recycleSwiperLarge">
    <ng-template swiperSlide>
      <div class="recycle-card">
        <div class="recycle-card-img_helper">
          <img
            class="recycle-card_img"
            src="../../assets/recycleKnifes/1.png"
            alt="recycleKnife1"
          />
        </div>

        <div class="recycle-card-description">
          <p class="recycle-card-description_p">
            {{ recycleCaptions[0] }}
          </p>
          <button
            (click)="recycleLink()"
            class="recycle-card-description_button"
          >
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="recycle-card">
        <div class="recycle-card-img_helper">
          <img
            class="recycle-card_img"
            src="../../assets/recycleKnifes/2.png"
            alt="recycleKnife2"
          />
        </div>

        <div class="recycle-card-description">
          <p class="recycle-card-description_p">
            {{ recycleCaptions[1] }}
          </p>
          <button
            (click)="recycleLink()"
            class="recycle-card-description_button"
          >
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="recycle-card">
        <div class="recycle-card-img_helper">
          <img
            class="recycle-card_img"
            src="../../assets/recycleKnifes/3.png"
            alt="recycleKnife3"
          />
        </div>

        <div class="recycle-card-description">
          <p class="recycle-card-description_p">
            {{ recycleCaptions[2] }}
          </p>
          <button
            (click)="recycleLink()"
            class="recycle-card-description_button"
          >
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="recycle-card">
        <div class="recycle-card-img_helper">
          <img
            class="recycle-card_img"
            src="../../assets/recycleKnifes/4.png"
            alt="recycleKnife4"
          />
        </div>

        <div class="recycle-card-description">
          <p class="recycle-card-description_p">
            {{ recycleCaptions[3] }}
          </p>
          <button
            (click)="recycleLink()"
            class="recycle-card-description_button"
          >
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="recycle-card">
        <div class="recycle-card-img_helper">
          <img
            class="recycle-card_img"
            src="../../assets/recycleKnifes/5.png"
            alt="recycleKnife5"
          />
        </div>

        <div class="recycle-card-description">
          <p class="recycle-card-description_p">
            {{ recycleCaptions[4] }}
          </p>
          <button
            (click)="recycleLink()"
            class="recycle-card-description_button"
          >
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="recycle-card">
        <div class="recycle-card-img_helper">
          <img
            class="recycle-card_img"
            src="../../assets/recycleKnifes/6.png"
            alt="recycleKnife6"
          />
        </div>

        <div class="recycle-card-description">
          <p class="recycle-card-description_p">
            {{ recycleCaptions[5] }}
          </p>
          <button
            (click)="recycleLink()"
            class="recycle-card-description_button"
          >
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="recycle-card">
        <div class="recycle-card-img_helper">
          <img
            class="recycle-card_img"
            src="../../assets/recycleKnifes/7.png"
            alt="recycleKnife7"
          />
        </div>

        <div class="recycle-card-description">
          <p class="recycle-card-description_p">
            {{ recycleCaptions[6] }}
          </p>
          <button
            (click)="recycleLink()"
            class="recycle-card-description_button"
          >
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="recycle-card">
        <div class="recycle-card-img_helper">
          <img
            class="recycle-card_img"
            src="../../assets/recycleKnifes/8.png"
            alt="recycleKnife8"
          />
        </div>

        <div class="recycle-card-description">
          <p class="recycle-card-description_p">
            {{ recycleCaptions[7] }}
          </p>
          <button
            (click)="recycleLink()"
            class="recycle-card-description_button"
          >
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>
    </ng-template>
  </swiper>

  <p class="recycle-description">
    <b>Produkujemy m.in. do maszyn:</b> Vecoplan, Lindner, Eldan, MTB, Untha,
    Weima, Mewa, Wagner, Amis Zerma, Columbus McKinnon, BMH, Gross, Mocco,
    Lindemann, Artech, Bano, Molinari, Terex, Adelmann, SSI, Herbold, Zerma,
    Bruno Foltieri, Tria, Redoma, Alpine Hosokawa, Condux, Dreher, Getecha,
    Genox, Guidetti, 3E, Previero, Rapid, THM, Zeno, Wanner i wiele innych.
  </p>
</div>
