.baner {
  width: 100%;
  background-color: #353d4d;

  position: relative;
  left: 0;
  top: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.baner {
  height: clamp(min(65px), 30.952vw, max(127.17px));
}
.baner_logo {
  height: clamp(min(48px), 22.857vw, max(84.433px));
}
