<div class="app" (scroll)="onScroll()">
  <button class="scroll-to-top_button" (click)="scrollTop()"></button>

  <button
    class="app-menu_button"
    (click)="toggle()"
    [class.app-menu_button-active]="isExpanded"
  ></button>
  <div class="app-menu-list" [class.app-menu-list-active]="isExpanded">
    <button class="app-menu-list_button" (click)="scrollToAbout()">
      About
    </button>
    <button class="app-menu-list_button" (click)="scrollToWood()">
      Knives and parts for wood
    </button>
    <button class="app-menu-list_button" (click)="scrollToSteel()">
      Knives and parts for steel
    </button>
    <button class="app-menu-list_button" (click)="scrollToRecycle()">
      Knives and parts for recycle
    </button>
    <button class="app-menu-list_button" (click)="scrollToRegen()">
      Regeneration of two and four<br />shaft shredders
    </button>
    <button class="app-menu-list_button" (click)="scrollToNewest()">
      Latest products
    </button>
    <button class="app-menu-list_button" (click)="scrollToFooter()">
      Contact
    </button>
  </div>

  <app-baner></app-baner>
  <app-about></app-about>
  <app-wood></app-wood>
  <app-steel></app-steel>
  <app-recycle></app-recycle>
  <app-regen></app-regen>
  <app-newest></app-newest>
  <app-footer></app-footer>
</div>
