<div class="regen">
  <div class="regen-title">
    <div class="regen-title_numbers">04</div>
    <div class="regen-title_title">
      <span class="color_primary">REGENERATION OF</span> TWO AND FOUR
    </div>
  </div>
  <div class="regen-title_title2">SHAFT SHREDDERS</div>

  <div class="regen-helper">
    <div class="regen-card">
      <img class="regen-card_img" src="../../assets/regen.png" />
      <p class="regen-card_description">
        Knives for two and four<br />
        shaft shredders
      </p>
      <button (click)="regenLink()" class="regen-card_button">VIEW MORE</button>
    </div>

    <div class="regen-texts">
      <p class="regen-texts_p1 regen-texts_p">
        Our company performs comprehensive overhauls and regenerations of
        cutting units for two, three and <span class="noWrap">four-shaft</span>
        machines.
      </p>

      <p class="regen-texts_p2 regen-texts_p">
        The knives are padded with wear-resistant welds with a hardness of 60
        HRC, and then ground on precision grinders with an accuracy of +/- 0.05
        mm. This service allows the use of knives for several years without the
        need to purchase new knives.
      </p>

      <p class="regen-texts_p3 regen-texts_p">
        The working time of the knives after regeneration is similar and
        sometimes longer than that of new knives due to the high hardness of the
        padding weld, which is only on the cutting edge, which prevents
        <span class="noWrap">cracking-the</span> knife core remains soft. We
        also regenerate the shafts of single-shaft
        <span class="noWrap">machines-surfacing</span> shafts with
        <span class="noWrap">wear-resistant&nbsp;welds.</span>
      </p>
    </div>
  </div>
  <p class="regen-description">
    <b>We perform regenerations and repairs of machines:</b> THM, Untha, Mewa,
    Satrind, Weima ZM, Moco, Santarde, Extec, SSI, Unikasset, Artech, Adelmann
    and many more.
  </p>
</div>
