<div class="regen">
  <div class="regen-title">
    <div class="regen-title_numbers">04</div>
    <div class="regen-title_title">
      <span class="color_primary">REGENERACJA ROZDRABNIACZY</span>
    </div>
  </div>
  <div class="regen-title_title2">DWU I CZTEROWAŁOWYCH</div>

  <div class="regen-helper">
    <div class="regen-card">
      <img class="regen-card_img" src="../../assets/regen.png" />
      <p class="regen-card_description">
        Noże do rozdrabniaczy dwu<br />
        i czterowałowych
      </p>
      <button (click)="regenLink()" class="regen-card_button">
        Przejdź do sklepu
      </button>
    </div>

    <div class="regen-texts">
      <p class="regen-texts_p1 regen-texts_p">
        Nasza firma wykonuje kompleksowe remonty i regeneracje zespołów tnących
        maszyn dwu, trzy i&nbsp;czterowałowych.
      </p>

      <p class="regen-texts_p2 regen-texts_p">
        Noże są napawane napoinami trudnościeralnymi o twardości 60 HRC, a
        następnie szlifowane na precyzyjnych szlifierkach w dokładności +/- 0,05
        mm. Taka usługa pozwala na eksploatację noży przez kilka lat bez
        konieczności zakupu nowych noży.
      </p>

      <p class="regen-texts_p3 regen-texts_p">
        Czas pracy noży po regeneracji jest podobny, a czasami dłuższy niż
        nowych noży ze względu na wysoką twardość napoiny, która jest tylko na
        krawędzi tnącej, co zapobiega pękaniu - rdzeń noża pozostaje miękki.
      </p>
    </div>
  </div>
  <p class="regen-description">
    <b>Wykonujemy regeneracje i remonty m.in. maszyn:</b> THM, Untha, Mewa,
    Satrind, Weima ZM, Moco, Santarde, Extec, SSI, Unikasset, Artech, Adelmann i
    wiele innych.
  </p>
</div>
