<div class="wood">
  <img class="wood-img" src="../../assets/products2.png" />
  <div class="wood-title">
    <div class="wood-title_numbers">01</div>
    <div class="wood-title_title">
      <span class="color_primary">NOŻE I OSPRZĘT</span> DO DREWNA
    </div>
  </div>

  <div class="wood-cards">
    <div class="wood-card">
      <button class="wood-card-buttons_left card-buttons_left"></button>

      <div class="wood-card-card">
        <img class="wood-card-card_img" src="../../assets/woodKnifes/5.png" />
        <div class="wood-card-card-description">
          <p class="wood-card-card-description_p">
            EWD NÓŻ PRAWY<br />75X39X15.9/9 MM
          </p>
          <button class="wood-card-card-description_button">
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>

      <button class="wood-card-buttons_right card-buttons_right"></button>
    </div>

    <div class="wood-card">
      <button class="wood-card-buttons_left card-buttons_left"></button>

      <div class="wood-card-card">
        <img class="wood-card-card_img" src="../../assets/woodKnifes/8.png" />
        <div class="wood-card-card-description">
          <p class="wood-card-card-description_p">
            NÓŻ ESCHLBOCK<br />230X140X18 MM 30/35*
          </p>
          <button class="wood-card-card-description_button">
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>

      <button class="wood-card-buttons_right card-buttons_right"></button>
    </div>

    <div class="wood-card">
      <button class="wood-card-buttons_left card-buttons_left"></button>

      <div class="wood-card-card">
        <img class="wood-card-card_img" src="../../assets/woodKnifes/5.png" />
        <div class="wood-card-card-description">
          <p class="wood-card-card-description_p">
            EWD NÓŻ PRAWY<br />75X39X15.9/9 MM
          </p>
          <button class="wood-card-card-description_button">
            PRZEJDŹ DO SKLEPU
          </button>
        </div>
      </div>

      <button class="wood-card-buttons_right card-buttons_right"></button>
    </div>
  </div>

  <p class="wood-description">
    <b>Produkujemy m.in. do maszyn:</b> Ahwi, Albach, Jenz, Doppstadt, Mus-Max,
    Eschlböck, Kesla, Junkkari Heizohack, Bruks, Morbark, Vermeer, Bandit,
    Klockner, Maier, Hombak, Teknamotor, Laski, Klöckner, Pallmann, Pezzolato,
    Oska, Camura, Lindana, Erjo, Farmi i&nbsp;wiele&nbsp;innych.
  </p>
</div>
